<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#">About</a>
            </div>
            <div class="col-sm">
                <a href="#"> FAQ </a>
            </div>
            <div class="col-sm">
                <a href="#"> Privacy Policy </a>
            </div>
            <div class="col-sm">
                <a href="#"> Contact Us </a>
            </div>
            <div class="col-sm">
                <a href="#"> Social Media </a>
            </div>
        </div>
    </div>
</footer>